<div style="margin-left: auto; margin-right: auto">
  <p id="categoryFeedback"></p>
</div>
<div>
  <h1>{{ msgCategoryForm | translate }}</h1>
  <form
    *ngIf="categoryForm"
    [formGroup]="categoryForm"
    (ngSubmit)="saveCategory()"
  >
    <div class="field">
      <label for="title">{{ msgCategoryFormTitle | translate }}:</label>
      <input type="text" [formControl]="title" />

      <div *ngIf="title.errors">
        <div
          *ngIf="title.errors && isValidForm !== null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="title.errors.required">
            {{ msgCategoryFormError001 | translate }}
          </div>

          <div *ngIf="title.errors.maxlength">
            {{ msgCategoryFormError002 | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="description"
        >{{ msgCategoryFormDescription | translate }}:</label
      >
      <input type="text" [formControl]="description" />

      <div *ngIf="description.errors">
        <div
          *ngIf="description.errors && isValidForm !== null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="description.errors.required">
            {{ msgCategoryFormError003 | translate }}
          </div>

          <div *ngIf="description.errors.maxlength">
            {{ msgCategoryFormError004 | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="field">
      <label for="css_color">{{ msgCategoryFormCssColor | translate }}:</label>
      <input type="text" [formControl]="css_color" />

      <div *ngIf="css_color.errors">
        <div
          *ngIf="css_color.errors && isValidForm !== null && !isValidForm"
          [ngClass]="'error'"
        >
          <div *ngIf="css_color.errors.required">
            {{ msgCategoryFormError005 | translate }}
          </div>

          <div *ngIf="css_color.errors.maxlength">
            {{ msgCategoryFormError006 | translate }}
          </div>
        </div>
      </div>
    </div>

    <button type="submit">{{ msgCategoryFormSAVE | translate }}</button>
  </form>
</div>
