<p>header works!</p>

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <button (click)="home()">{{ msgHeaderHome | translate }}</button>
  <button (click)="dashboard()">{{ msgHeaderDashboard | translate }}</button>
  <button (click)="login()">{{ msgHeaderLogin | translate }}</button>
  <button (click)="register()">{{ msgHeaderRegister | translate }}</button>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <button (click)="home()">{{ msgHeaderHome | translate }}</button>
  <button (click)="dashboard()">{{ msgHeaderDashboard | translate }}</button>
  <button (click)="adminPosts()">{{ msgHeaderAdminPosts | translate }}</button>
  <button (click)="adminCategories()">
    {{ msgHeaderAdminCategories | translate }}
  </button>
  <button (click)="profile()">{{ msgHeaderProfile | translate }}</button>
  <button (click)="logout()">{{ msgHeaderLogout | translate }}</button>
</div>
