<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>Login</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label for="email">Email: </label>
      <input id="email" type="email" [formControl]="email" />
      @if (email.errors && (email.touched || email.dirty)) {
        <div>
          @if (email.errors.required) {
            <span style="color: red">Email is required</span>
          } @else if (email.errors.invalid) {
            <span style="color: red">Email must be a valid email address</span>
          }
        </div>
      }
    </div>

    <div class="field">
      <label for="password">Password: </label>
      <input id="password" type="password" [formControl]="password" />
      @if (password.errors && (password.touched || password.dirty)) {
        <div>
          @if (password.errors.required) {
            <span style="color: red">Password is required</span>
          } @else if (password.errors.minlength) {
            <span style="color: red"
              >Password must be at least 8 characters long</span
            >
          } @else if (password.errors.maxlength) {
            <span style="color: red"
              >Password can be max 16 characters long</span
            >
          }
        </div>
      }
    </div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
