<h2>Categories List</h2>
<button (click)="createCategory()">ADD</button>

<table>
  <thead>
    <tr>
      <th>{{ msgCategoryID | translate }}</th>
      <th>{{ msgCategoryTitle | translate }}</th>
      <th>{{ msgCategoryDescription | translate }}</th>
      <th>{{ msgCategoryCssColor | translate }} COLOR</th>
      <th>{{ msgCategoryActions | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.categoryId }}</td>
      <td>{{ category.title }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.css_color }}</td>
      <td>
        <button (click)="updateCategory(category.categoryId)">
          {{ msgCategoryActionsUpdate | translate }}
        </button>
        <button (click)="deleteCategory(category.categoryId)">
          {{ msgCategoryActionsDelete | translate }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
