<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>
  <h1>{{ msgLoginLogin | translate }}</h1>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="field">
      <label for="email">{{ msgLoginEmail | translate }}: </label>
      <input type="email" [formControl]="email" />
      <div *ngIf="email.errors">
        <span
          style="color: red"
          *ngIf="email.invalid && email?.errors?.required"
          >{{ msgLoginError001 | translate }}</span
        >
        <span
          style="color: red"
          *ngIf="email.invalid && email?.errors?.email"
          >{{ msgLoginError002 | translate }}</span
        >
      </div>
    </div>

    <div class="field">
      <label for="password">{{ msgLoginPassword | translate }}: </label>
      <input type="password" [formControl]="password" />
      <div *ngIf="password.errors">
        <span
          style="color: red"
          *ngIf="password.invalid && password?.errors?.required"
          >{{ msgLoginError003 | translate }}</span
        >
        <span
          style="color: red"
          *ngIf="password.invalid && password?.errors?.minlength"
          >{{ msgLoginError004 | translate }}</span
        >
        <span
          style="color: red"
          *ngIf="password.invalid && password?.errors?.maxlength"
          >{{ msgLoginError005 | translate }}</span
        >
      </div>
    </div>

    <button type="submit" [disabled]="!loginForm.valid">
      {{ msgLoginButton | translate }}
    </button>
  </form>
</div>
